h1 {
    text-align: center;
}

/*-------------------- ABOUT ME --------------------*/
.about_me {
    text-align: center;
    background-color: black;

    border-radius: 10px;
    padding: 30px 20px;
    margin: 10px 30px;
}
.about_me
img {
    display: block;
    margin: auto;
    width: 50%;
}
.about_me
a, p {
    display: inline-block;
    font-size: 1.4em;
}


/*-------------------- PROJECTS --------------------*/
.projects_title {
    margin-top: 20px;
}

/* Projects Grid */
.projects_grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 30px;

    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Project Card */
.project {
    background-color: black;
    padding: 10px;
    border-radius: 10px;

    text-decoration: none;

    display: grid;
    align-items: center;
}
.project:hover {
    background-color: var(--red);
}

/* Project Card Text */
.project h3 {
    margin-top: 10px;
    color: var(--off-white);
}

img, video {
    max-width: 100%;
    border-radius: 10px;
}
