/*-------------------- PROJECT LIST --------------------*/
.project {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);

    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px 75px;
}

.media {
    display: grid;
    justify-content: center;
    align-items: center;
}
img, video {
    max-width: 100%;
    border-radius: 10px;
}

.github_link {
    display: block;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Music Manager */
.music_manager
.section_1 {
    display: grid;
    grid-template-columns: 30% 70%;
}
.music_manager
.section_1
h1 {
    margin-bottom: 20px;
}
.music_manager
.section_1
h2 {
    margin-top: 20px;
}
/* Music Manager - Section 2 */
.music_manager
.section_2 {
    margin-top: 20px;
}

/* Pixel Board */
.pixel_board
.media {
    grid-template-columns: 49% 49%;
    gap: 20px;
}
/* (Pixel Board) Employment */
.employment {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--darkest-gray);

    border-radius: 10px;
    padding: 20px 30px;
    margin: 10px 0;
}
.company {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


/* Vue Website */
.vue_site
.media {
    margin-top: 10px;
}
.vue_site
.subtitle {
    font-size: 1.17em;
}

/* Tic-Tac-Toe */
.tic-tac-toe
.text {
    display: grid;
    grid-template-columns: 50% 50%;
}
.tic-tac-toe
.media {
    margin-top: 10px;
}
.tic-tac-toe
img {
    max-height: 250px;
}

